extends ../layouts/commit

block content
	#page-wrapper
		.main-page.login-page
			.widget-shadow
				.login-body
					h2.title1 Login
					if errors
						each error in errors
							.alert.alert-danger= error
					form(action='/auth', method="POST")
						input.user(type='email', name='email', placeholder='Enter Your Email', value = value ? values.email : "")
						input.lock(type='password', name='password', placeholder='Password', value = value ? values.pasword : "")
						.forgot-grid
							.forgot
								a(href='#') Forgot password?
							.clearfix  
						input(type='submit',value='Sign In')
						.registration
							| Don&apos;t have an account ?
							a(href='signup.html')| Create an account
