html
  head
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/admin') <i class="fa fa-home"></i>
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/')
                | Website 
                span.sr-only (current)
            li.nav-item.active
              a.nav-link(href='/users') Quản lí user
            li.nav-item.active
              a.nav-link(href='/admin/product') Sản phẩm
            li.nav-item.active
              a.nav-link(href='/admin/product') Danh mục
            li.nav-item.active
              a.nav-link(href='/admin/product') Đơn hàng
            li.nav-item
              a.nav-link(href='/admin/product') Thống kê
            li.nav-item
              a.nav-link(href='/admin/product') Lịch sử giao dịch
        if user
          p= user.name
      .container.pt-5
        block content