html
  head
      title  Quản lý
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      meta(name='keywords', content='Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \
      SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
      script(type='application/x-javascript').
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
      // Bootstrap Core CSS
      link(href='/css/bootstrap.css', rel='stylesheet', type='text/css')
      // Custom CSS
      link(href='/css/style.css', rel='stylesheet', type='text/css')
      // font-awesome icons CSS
      link(href='/css/font-awesome.css', rel='stylesheet')
      // //font-awesome icons CSS
      // side nav css file
      link(href='/css/SidebarNav.min.css', media='all', rel='stylesheet', type='text/css')
      // //side nav css file
      // js
      script(src='/js/jquery-1.11.1.min.js')
      script(src='/js/modernizr.custom.js')
      // webfonts
      link(href='//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext', rel='stylesheet')
      // //webfonts
      // chart
      script(src='/js/Chart.js')
      // //chart
      // Metis Menu
      script(src='/js/metisMenu.min.js')
      script(src='/js/custom.js')
      link(href='/css/custom.css', rel='stylesheet')
      // //Metis Menu
      style.
        #chartdiv {
        width: 100%;
        height: 295px;
        }
      // pie-chart
      // index page sales reviews visitors pie chart
      script(src='/js/pie-chart.js', type='text/javascript')
      script(type='text/javascript').
        $(document).ready(function () {
        $('#demo-pie-1').pieChart({
        barColor: '#2dde98',
        trackColor: '#eee',
        lineCap: 'round',
        lineWidth: 8,
        onStep: function (from, to, percent) {
        $(this.element).find('.pie-value').text(Math.round(percent) + '%');
        }
        });
        $('#demo-pie-2').pieChart({
        barColor: '#8e43e7',
        trackColor: '#eee',
        lineCap: 'butt',
        lineWidth: 8,
        onStep: function (from, to, percent) {
        $(this.element).find('.pie-value').text(Math.round(percent) + '%');
        }
        });
        $('#demo-pie-3').pieChart({
        barColor: '#ffc168',
        trackColor: '#eee',
        lineCap: 'square',
        lineWidth: 8,
        onStep: function (from, to, percent) {
        $(this.element).find('.pie-value').text(Math.round(percent) + '%');
        }
        });
        });
      // //pie-chart
      // index page sales reviews visitors pie chart
      // requried-jsfiles-for owl
      link(href='/css/owl.carousel.css', rel='stylesheet')
      script(src='/js/owl.carousel.js')
      script.
        $(document).ready(function() {
        $("#owl-demo").owlCarousel({
        items : 3,
        lazyLoad : true,
        autoPlay : true,
        pagination : true,
        nav:true,
        });
        });


      link(rel="stylesheet", href="/edit.css")
  body.cbp-spmenu-push
      .main-content
        #cbp-spmenu-s1.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left
          // left-fixed -navigation
          aside.sidebar-left
            nav.navbar.navbar-inverse
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.collapse', aria-expanded='false')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                h1
                  a.navbar-brand(href='/users')
                    span.fa.fa-area-chart
                    |  Admin
                    
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.sidebar-menu
                  li.header MAIN NAVIGATION
                    if user
                      foreach user 
                        if(user.admin == true)
                          li.treeview
                            a(href='#')
                              i.fa.fa-edit
                              span Quản lý admin users
                              i.fa.fa-angle-left.pull-right
                            ul.treeview-menu
                              li
                                a(href='/users')
                                  i.fa.fa-angle-right
                                  |  Danh sách users
                  li.treeview
                    a(href='#')
                      i.fa.fa-folder-open-o
                      span  Danh mục
                      i.fa.fa-angle-left.pull-right
                    ul.treeview-menu
                      li
                        a(href='/categorys')
                          i.fa.fa-angle-right
                          |  Danh sách danh mục
                    ul.treeview-menu
                      li
                        a(href='/categorys/create')
                          i.fa.fa-angle-right
                          |  Thêm danh mục
                  li.treeview
                    a(href='#')
                      i.fa.fa-folder-open-o
                      span Sản phẩm
                      i.fa.fa-angle-left.pull-right
                    ul.treeview-menu
                      li
                        a(href='/products')
                          i.fa.fa-angle-right
                          |  Danh sách sản phẩm
                    ul.treeview-menu
                      li
                        a(href='/products/create')
                          i.fa.fa-angle-right
                          |  Thêm sản phẩm
                  li.treeview
                    a(href='#')
                      i.fa.fa-shopping-cart
                      span Đơn hàng
                      i.fa.fa-angle-left.pull-right
                    ul.treeview-menu
                      li
                        a(href='/orders')
                          i.fa.fa-angle-right
                          |  Danh sách đơn hàng
                  li.treeview
                    a(href='#')
                      i.fa.fa-pencil-square-o
                      span Lịch sử hoạt động
                      span.label.label-primary.pull-right new
                  li.treeview
                    a(href='#')
                      i.fa.fa-pie-chart
                      span Thống kê
              // /.navbar-collapse
        // left-fixed -navigation
        // header-starts
        .sticky-header.header-section
          .header-left
            // toggle button start
            button#showLeftPush
              i.fa.fa-bars
            // toggle button end
            .profile_details_left
              
            .clearfix  
          .header-right
            .profile_details
              if user
                ul
                  li.dropdown.profile_details_drop
                    a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                      .profile_img
                        span.prfil-img
                          img(src=user.avatar, alt='',width=32,height=32)
                        .user-name
                          p= user.name
                        i.fa.fa-angle-down.lnr
                        i.fa.fa-angle-up.lnr
                        .clearfix
                    ul.dropdown-menu.drp-mnu
                      li
                        a(href='#')
                          i.fa.fa-user
                          |  My Account
                      li
                        a(href='/auth/logout',onclick="return confirm('Bạn có muốn thoát không ?')")
                          i.fa.fa-sign-out
                          |  Logout
            .clearfix  
          .clearfix  
        // //header-ends
        block content
        // side nav js
        script(src='/js/SidebarNav.min.js', type='text/javascript')
        script.
          $('.sidebar-menu').SidebarNav()
        // //side nav js
        // Classie
        // for toggle left push menu script
        script(src='/js/classie.js')
        script.
          var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
          showLeftPush = document.getElementById( 'showLeftPush' ),
          body = document.body;
          showLeftPush.onclick = function() {
          classie.toggle( this, 'active' );
          classie.toggle( body, 'cbp-spmenu-push-toright' );
          classie.toggle( menuLeft, 'cbp-spmenu-open' );
          disableOther( 'showLeftPush' );
          };
          function disableOther( button ) {
          if( button !== 'showLeftPush' ) {
          classie.toggle( showLeftPush, 'disabled' );
          }
          }
        script(src='/js/scripts.js')
        // //scrolling js
        // Bootstrap Core JavaScript
        script(src='/js/bootstrap.js')
