extends ../head.pug 

block head

  // Home
  .home
    .home_background.parallax-window(data-parallax='scroll', data-image-src='../webpage/images/shop_background.jpg')
    .home_overlay
    .home_content.d-flex.flex-column.align-items-center.justify-content-center
      h2.home_title Technological Blog
  // Blog
  .blog
    .container
      .row
        .col
          .blog_posts.d-flex.flex-row.align-items-start.justify-content-between
            // Blog post
            .blog_post
              .blog_image(style='background-image:url(../webpage/images/blog_1.jpg)')
              .blog_text Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada.
              .blog_button
                a(href='blog_single.html') Continue Reading
            // Blog post
            .blog_post
              .blog_image(style='background-image:url(../webpage/images/blog_2.jpg)')
              .blog_text Cras lobortis nisl nec libero pulvinar lacinia. Nunc sed ullamcorper massa.
              .blog_button
                a(href='blog_single.html') Continue Reading
            // Blog post
            .blog_post
              .blog_image(style='background-image:url(../webpage/images/blog_3.jpg)')
              .blog_text
                | Fusce tincidunt nulla magna, ac euismod quam viverra id. Fusce eget metus feugiat
              .blog_button
                a(href='blog_single.html') Continue Reading
            // Blog post
            .blog_post
              .blog_image(style='background-image:url(../webpage/images/blog_4.jpg)')
              .blog_text Etiam leo nibh, consectetur nec orci et, tempus tempus ex
              .blog_button
                a(href='blog_single.html') Continue Reading
            // Blog post
            .blog_post
              .blog_image(style='background-image:url(../webpage/images/blog_5.jpg)')
              .blog_text Sed viverra pellentesque dictum. Aenean ligula justo, viverra in lacus porttitor
              .blog_button
                a(href='blog_single.html') Continue Reading
            // Blog post
            .blog_post
              .blog_image(style='background-image:url(../webpage/images/blog_6.jpg)')
              .blog_text In nisl tortor, tempus nec ex vitae, bibendum rutrum mi. Integer tempus nisi
              .blog_button
                a(href='blog_single.html') Continue Reading
            // Blog post
            .blog_post
              .blog_image(style='background-image:url(../webpage/images/blog_7.jpg)')
              .blog_text
                | Make Life Easier on Yourself by Accepting &ldquo;Good Enough.&rdquo; Don&rsquo;t Pursue Perfection.
              .blog_button
                a(href='blog_single.html') Continue Reading
            // Blog post
            .blog_post
              .blog_image(style='background-image:url(../webpage/images/blog_8.jpg)')
              .blog_text 13 Reasons You Are Failing At Life And Becoming A Bum
              .blog_button
                a(href='blog_single.html') Continue Reading
            // Blog post
            .blog_post
              .blog_image(style='background-image:url(../webpage/images/blog_9.jpg)')
              .blog_text 4 Steps to Getting Anything You Want In Life
              .blog_button
                a(href='blog_single.html') Continue Reading