extends ../layouts/commit

block content
	#page-wrapper(style='min-height: 616px;')
		.main-page
			.forms
				.form-grids.row.form-grids-right
					.widget-shadow(data-example-id='basic-forms')
						.form-title
							h4 Create User
						.form-body
							if errors
								each error in errors
									.alert.alert-danger= error
							form.form-horizontal(action="/users/create",method="POST", enctype="multipart/form-data")
								.form-group
									label.col-sm-2.control-label(for="name") Full Name
									.col-sm-6
										input#name.form-control.input-sm(type="text",name="name",value = value ? values.name : "")
								.form-group
									label.col-sm-2.control-label(for="phone") Phone
									.col-sm-6
										input#phone.form-control(type="text",name="phone",value = value ? values.phone : "")
								.form-group
									label.col-sm-2.control-label(for="email") Email
									.col-sm-6
										input#email.form-control(type="email",name="email")
								.form-group
									label.col-sm-2.control-label(for="password") Password
									.col-sm-6
										input#password.form-control(type="password",name="password")
								.form-group
									label.col-sm-2.control-label(for="address") Address
									.col-sm-6
										input#address.form-control(type="text",name="address")
								.form-group
									label.col-sm-2.control-label(for="avatar") Avatar 
									.col-sm-6
										input#avatar.form-control-file(type="file",name="avatar")
								.form-group
									.col-sm-offset-2.col-sm-3
										.checkbox
											label
												input(type='checkbox',name="admin",value="1")
												|  Master
								.col-sm-offset-2
									button.btn.btn-success(type='submit') Create