extends ../layouts/commit
block content
    #page-wrapper(style='min-height: 616px;')
        .main-page
            .forms
                .row
                    each user in users                    
                        h3.title1 Thông tin #{user.name}
                        .form-three.widget-shadow
                            form.form-horizontal(method='POST',action="/users/edits/"+user.id)
                                input(type='hidden',name='_menthod',value="PUT")
                                .form-group
                                    label.col-sm-2.control-label(for="avatar") Avatar
                                    .col-sm-1
                                    img.border.border-success.rounded-lg(src=user.avatar, width="194",height ="194")
                                .form-group
                                    label.col-sm-2.control-label(for="name") Full Name 
                                    .col-sm-5
                                        input#name.form-control.input-sm( type="text",name="name",value = user.name)
                                .form-group
                                    label.col-sm-2.control-label(for="phone") Phone
                                    .col-sm-5
                                        input#phone.form-control(type="text",name="phone",value = user.phone)
                                .form-group
                                    label.col-sm-2.control-label(for="email") Email
                                    .col-sm-5
                                        input#email.form-control(type="email",name="email",value = user.email)
                                .form-group
                                    label.col-sm-2.control-label(for="address") Address
                                    .col-sm-5
                                        input#address.form-control(type="text",name="address", value = user.address)
                            
                                if(user.admin==true)
                                    .form-group
                                        .col-sm-offset-2.col-sm-10
                                            .checkbox
                                                label
                                                    input(disanle type='checkbox',name="admin",value="1",checked="" )
                                                    |  Master
                                        .col-sm-offset-2.col-sm-10
                                            .checkbox
                                                label
                                                    input(disanle type='checkbox',value="0",name="admin" )
                                                    |  Admin
                                else
                                    .form-group
                                        .col-sm-offset-2.col-sm-10
                                            .checkbox
                                                label
                                                    input(disanle type='checkbox',value="1",name="admin"
                                                     )
                                                    |  Master
                                        .col-sm-offset-2.col-sm-10
                                            .checkbox
                                                label
                                                    input(disanle type='checkbox',name="admin",value="0",checked="" )
                                                    |  Admin 
                                .col-sm-offset-2
                                        button.btn.btn-success(type='submit') Save
                        a.btn.btn-primary(href='/users') Quay lại