extends ../layouts/commit

block content
	#page-wrapper(style='min-height: 616px;')
		.main-page
			.forms
				.form-grids.row.form-grids-right
					.widget-shadow(data-example-id='basic-forms')
						.form-title
							h4 Thêm sản phẩm mới
						.form-body
							if errors
								each error in errors
									.alert.alert-danger= error
							form.form-horizontal(action="/users/create",method="POST", enctype="multipart/form-data")
								.form-group
									label.col-sm-2.control-label(for="name") Name product
									.col-sm-9
										input#name.form-control.input-sm(type="text",name="name",value = value ? values.name : "")
								.form-group
									label.col-sm-2.control-label(for="price") Price
									.col-sm-9
										input#price.form-control(type="text",name="price")
								.form-group
									label.col-sm-2.control-label(for="quantity") Quantity
									.col-sm-9
										input#quantity.form-control(type="text",name="quantity")
								.form-group
									label.col-sm-2.control-label(for="decription") Decription
									.col-sm-9
										input#decription.form-control(type="text",name="decription")
								.form-group
									label.col-sm-2.control-label(for="pro_image") Image 
									.col-sm-9
										input#pro_image.form-control-file(type="file",name="pro_image")
								.col-sm-offset-2
									button.btn.btn-success(type='submit') Create