extends ../layouts/commit
block content
    #page-wrapper(style='min-height: 616px;')
        .main-page
            .forms
                .row
                    h3.title1 Thông tin product
                    .form-three.widget-shadow
                        form.form-horizontal
                                .form-group
                                    label.col-sm-2.control-label(for="avatar") Anh san pham
                                    .col-sm-1
                                    img.border.border-success.rounded-lg(src= products.pro_images[0], width="194",height ="194")
                                .form-group
                                    label.col-sm-2.control-label(for="name") Product Name 
                                    .col-sm-5
                                        input#name.form-control.input-sm(disabled='', type="text",name="name",value = products.name)
                                if cates
                                    .form-group
                                            label.col-sm-2.control-label(for="danhmuc") Name Category
                                            .col-sm-9
                                                select
                                                    option(value= cates._id ,selected=" ")= cates.name
                                .form-group
                                    label.col-sm-2.control-label(for="price") Gia
                                    .col-sm-5
                                        input#price.form-control(disabled='',type="number",name="price",value = products.price)
                                .form-group
                                    label.col-sm-2.control-label(for="Brand") Brand
                                    .col-sm-5
                                        input#Brand.form-control(disabled='',type="text",name="brand",value = products.brand)
                                .form-group
                                        label.col-sm-2.control-label(for="sales") Giảm giá
                                        .col-sm-5
                                            input#sales.form-control(disabled="",type="number",name="sales",value = products.isSale.percent || 0)
                                .form-group
                                    label.col-sm-2.control-label(for="quantity") So luong
                                    .col-sm-5
                                        input#quantity.form-control(disabled='',type="number",name="quantity",value= products.quantity)
                                .form-group
                                    label.col-sm-2.control-label(for="decription") Mo ta
                                    .col-sm-5
                                        input#decription.form-control(disabled='',type="text",name="decription", value = products.description)
                                .col-sm-offset-2
                                    a.btn.btn-warning(href='/products/edits/'+products.id) Edit
                                    br
                                    a.btn.btn-primary(href='/products') Quay lại