extends ../layouts/commit
block content
		#page-wrapper
			.main-page
				.tables
					.panel-body.widget-shadow
						h1 Danh sách sản phẩm
						br
						br  
						a.btn.btn-success.mt-5.mb-5(href="/products/create") Create
								
						table.table.table-hove
							thead
								tr
									th Product Img
									th Product Name
									th So luong
									th Action
							tbody
							if products
								each product in products
									tr
										td
											img.border.border-success.rounded-lg(src=product.pro_images[0], width="72",height ="72")
										td
											p(text-align='center')= product.name
										td
											p(text-align='center')= product.quantity
										td
											a.btn.btn-primary(href="/products/"+product.id) View
											span 
											a.btn.btn-danger(href="/products/"+product.id+"/delete",onclick="return confirm('Bạn có muốn xoa không ?')") Delete
							